$primary-logo-color:#2196F3;
$header-logo-color-part:#000000;
$footer-logo-color-part:#ffffff;
$primary-font-color:#212121;
$secondary-font-color:#757575;
$third-font-color:rgba(255, 255, 255, 0.6);
$fourth-font-color:#ffffff;
$accent-color:#2196F3;
$hover-page-btn:#188CE8;
$team-section-bgc-color:#F5F4FA;
$footer-bgc-color:#2F303A;
$filter-btn-color:#F5F4FA;

$project-cubic-beizer:cubic-bezier(0.4, 0, 0.2, 1);